{% extends 'base.html.twig' %}
{% block title %}Update Profile User{% endblock %}
{% block body %}
    <h1  class="col mb-3 text-center">Modifications des informations</h1>
    {{ form_start(profileForm, {'action': path('app_profile_edit'), 'method': 'POST'})  }}
    <section class=" row required border rounded-3 m-2 p-2 bg-light shadow-sm">
        <div>
            <b>{{ form_label(profileForm.email) }}</b>
            <div class="col m-1 mb-3">{{ form_widget(profileForm.email) }}</div>
        </div>
        <div>
            <b>{{ form_label(profileForm.userName) }}</b>
            <div class="m-1 mb-3">{{ form_widget(profileForm.userName) }}</div>
        </div>
        <div>
            <b>{{ form_label(profileForm.plainPassword) }}</b>
            <div class="m-1 mb-3">{{ form_widget(profileForm.plainPassword) }}</div>
        </div>
    </section>
    <section class="required border rounded-3 m-2 p-2 bg-light shadow-sm">
        <div>
            <b>{{ form_label(profileForm.firstName) }}</b>
            <div class="m-1 mb-3">{{ form_widget(profileForm.firstName) }}</div>
        </div>
        <div>
            <b>{{ form_label(profileForm.lastName) }}</b>
            <div class="m-1 mb-3">{{ form_widget(profileForm.lastName) }}</div>
        </div>
        <div>
            <b>{{ form_label(profileForm.birthday) }}</b>
            <div class="m-1 mb-3">{{ form_widget(profileForm.birthday) }}</div>
        </div>
    </section>
    {{ form_end(profileForm)  }}
    <div class="row">
        <button class="col btn btn-dark text-center m-3 p-2">{{ button_label|default('Mettre à jour') }}</button>
    </div>
{% endblock %}
